body {
    color: black;
    background: white;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#nav {
    float: left;
    border-right:1px solid #000;
}

#nav:last-child {
    border-right: none;
}

#nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav a:hover:not(.active) {
    background-color: #2a4570;
}

.active {
    background-color: #2a4570;
}

#searchbox {
  width: 50%;
  margin: auto;
  padding-left: 50px;
  padding-right: 50px;
}
#searchbox p {
  text-align: center;
  margin-bottom: 5px;
  margin-top: 10px;
}
#searchbox input[type=text] {
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
}
#searchbox input[type=submit] {
  width: 50%;
  max-width: 100px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}
