@(message: String)

@main("") { } {
  <ul>
    <li id="nav"><a href="@routes.Application.index()">Home</a></li>
    <li id="nav"><a class="active" href="@routes.Application.about()">About</a></li>
  </ul>

  <section id="about_banner">
    <div class="about_inner">
      <h1>About Us</h1>
      <p>Joe Lilien, Guhan Muruganandam, Jack Siman, Grayson Wise</p>
    </div>
  </section>

  <section id="about_info">
    <p>For both students and parents alike, college application season can be one of the most stressful times of the year. One of the most important frustrating parts of this process is the actual creation of a list of colleges to apply to. In our personal experience we found this to be a super difficult and under-serviced problem. We found that it was impossible to get a good holistic view of colleges that would work well with our own personal preferences and very often we found that students were applying to schools that in hindsight, were a poor fit for. It’s especially difficult when other college resource sties just give a generic list of universities ranked by overall reputation and fail to really delve into many factors that many families find truly significant.</p>
    <p align="center">Our mission is change this.</p>
    <p>We want our website to be able to help you discover schools that fit YOUR needs and not the needs of the masses.  Through our location algorithm, our site is able to find schools that you had no idea about within your local state or region. We can cross-match your preferences with our crime index data to see if your child’s potential new home for 4 years is in an area where you can be rest assured of their safety. Through our system, you will be able to see how your school holds up in the field of study that you may want to pursue.</p>
    <p>We delve into data that other sites don’t touch to give you a truly nuanced and educated perspective on your options. In this process, we strive to help unearth hidden gems that for you or your child might end up being a dream college. With our algorithms and your parameters we guarantee that this will be an invaluable resource in college researching.</p>
    <p align="center">Go back to <a href="@routes.Application.index()">search</a>.</p>
  </section>
}
