@(message: String)

@main("") { } {
  <ul>
    <li id="nav"><a href="@routes.Application.index()">Home</a></li>
    <li id="nav"><a class="active" href="@routes.Application.about()">About</a></li>
  </ul>

  <section id="about_banner">
    <div class="about_inner">
      <h1>About Us</h1>
      <p>A data driven integrative search to help you find your dream school.</p>
    </div>
  </section>

  <section id="about_info">
    <p>Building a website is, in many ways, an exercise of willpower. It’s tempting to get distracted by the bells and whistles of the design process, and forget all about creating compelling content. But it's that last part that's crucial to making inbound marketing work for your business.</p>
    <p>So how do you balance your remarkable content creation with your web design needs? It all starts with the "About Us" page.</p>
    <p>For a remarkable about page, all you need to do is figure out your company's unique identity, and then share it with the world. Easy, right? Of course it's not easy. That said, the "About Us" page is one of the most important pages on your website, and it can't go neglected. It also happens to be one of the most commonly overlooked pages, which is why you should make it stand out.</p>
    <p>But it can be accomplished. In fact, there are some companies out there with remarkable "About Us" pages, and there are elements of them that you can emulate on your own website. By the end of this post, showing off how your company's greatness won't seem like such a challenging feat.</p>
    <p align="center">Go back to <a href="@routes.Application.index()">search</a>.</p>
  </section>
}
