@(schoolInfo: models.collegesDB.SchoolInfo,cityInfo: models.collegesDB.CityInfo, similarSizedSchools: List[String],similarTuitionSchools: List[String],closeSchools: List[String])


@main(schoolInfo.name) { } {

  <p>
    Located in @schoolInfo.city, @schoolInfo.state<br/>
    Size: @schoolInfo.size<br/>
    Rank: @schoolInfo.rank<br/>
    Tuition: @schoolInfo.tuition<br/>
    <br/>
    Top Degrees at @schoolInfo.name
    @for((name,salaries) <- schoolInfo.degrees) {
      <li>@name</li>
      Average starting salary: @salaries(0)<br/>
      Average 10 year salary: @salaries(1)<br/>
    }
    <br/>
  </p>
  <p align="center">All About @schoolInfo.city, @schoolInfo.state</p> 
  <table id="city_table" align="center">
    <tr>
		<td>Population</td>
		<td>@cityInfo.population</td>
	</tr>
    <tr>
		<td>Median Resident Age</td>
		<td>@cityInfo.medianResidentAge</td>
	</tr>
    <tr>
		<td>Percentage of Residents with a High School Degree</td>
		<td>@cityInfo.HSDegree%</td>
	</tr>
	<tr>
    	<td>Median Income</td>
		<td>@cityInfo.medianIncome</td>
	</tr>
	<tr>
   		<td>Percentage of Residents Living Below the Poverty Line</td>
		<td>@cityInfo.belowPovertyLine%</td>
	</tr>
	<tr>
   		<td>Percentage of Residents Born Outside the US</td>
		<td>@cityInfo.foreignBorn%</td>
	</tr>
	<tr>
    	<td>Crime Index</td>
		<td>@cityInfo.crimeIndex</td>
	</tr>
  </table>
  <hr/>
  <p>
      Check out these schools with similar sizes!
      @for(name <- similarSizedSchools) {
        <li> <a href="@routes.Application.viewSchool(name)"> @name </a> </li>
      }
  </p>
  <p>
      Check out these schools with similar tuition!
      @for(name <- similarTuitionSchools) {
        <li> <a href="@routes.Application.viewSchool(name)"> @name </a> </li>
      }
  </p>
  <p>
      Check out these schools close by!
      @for(name <- closeSchools) {
        <li> <a href="@routes.Application.viewSchool(name)"> @name </a> </li>
      }
  </p>
  <p>
    Search <a href="@routes.Application.index()">other schools</a>.
  </p>
}
