@(schoolInfo: models.collegesDB.SchoolInfo,cityInfo: models.collegesDB.CityInfo, similarSizedSchools: List[String],similarTuitionSchools: List[String],closeSchools: List[String])


@main(schoolInfo.name) { } {
  <p>
    Located in @schoolInfo.city, @schoolInfo.state<br/>
    Size: @schoolInfo.size<br/>
    Rank: @schoolInfo.rank<br/>
    Tuition: @schoolInfo.tuition<br/>
    <br/>
    Top Degrees at @schoolInfo.name
    @for((name,salaries) <- schoolInfo.degrees) {
      <li>@name</li>
      Average starting salary: @salaries(0)<br/>
      Average 10 year salary: @salaries(1)<br/>
    }
    <br/>
  </p>
  <p>
    Some facts about @schoolInfo.city, @schoolInfo.state<br/>
    Population: @cityInfo.population<br/>
    Median resident age: @cityInfo.medianResidentAge<br/>
    Percentage of residents with a high school degree: @cityInfo.HSDegree%<br/>
    Median income: @cityInfo.medianIncome<br/>
    Percentage of residents living below the poverty line: @cityInfo.belowPovertyLine%<br/>
    Percentage of residents that were born outside the US: @cityInfo.foreignBorn%<br/>
    Crime index: @cityInfo.crimeIndex<br/>
  </p>
  <p>
      Check out these schools with similar sizes!
      @for(name <- similarSizedSchools) {
        <li> <a href="@routes.Application.viewSchool(name)"> @name </a> </li>
      }
  </p>
  <p>
      Check out these schools with similar tuition!
      @for(name <- similarTuitionSchools) {
        <li> <a href="@routes.Application.viewSchool(name)"> @name </a> </li>
      }
  </p>
  <p>
      Check out these schools close by!
      @for(name <- closeSchools) {
        <li> <a href="@routes.Application.viewSchool(name)"> @name </a> </li>
      }
  </p>
  <p>
    Search <a href="@routes.Application.index()">other schools</a>.
  </p>
}
