@(schoolInfo: models.collegesDB.SchoolInfo, similarSizedSchools: List[String],similarTuitionSchools: List[String])

@main("School Information: " + schoolInfo.name) { } {
  <p>
    Size: @schoolInfo.size<br/>
    Rank: @schoolInfo.rank<br/>
    Tuition: @schoolInfo.tuition<br/>
    <br/>
  </p>
  <p>
      Check out these schools with similar sizes!
      @for(name <- similarSizedSchools) {
        <li> <a href="@routes.Application.viewSchool(name)"> @name </a> </li>
      }
  </p>
  <p>
      Check out these schools with similar tuition!
      @for(name <- similarTuitionSchools) {
        <li> <a href="@routes.Application.viewSchool(name)"> @name </a> </li>
      }
  </p>
  <p>
    Search <a href="@routes.Application.index()">other schools</a>.
  </p>
}
