@(school: List[String])

@main("") { } {

  <div id="container">

  <div class="photobanner">
    	<img class="first" src="@routes.Assets.at("images/col1.jpg")" alt="" />
    	<img src="@routes.Assets.at("images/col2.jpg")" alt="" />
    	<img src="@routes.Assets.at("images/col3.jpg")" alt="" />
    	<img src="@routes.Assets.at("images/col4.jpg")" alt="" />
    	<img src="@routes.Assets.at("images/col5.jpg")" alt="" />
    	<img src="@routes.Assets.at("images/col6.jpg")" alt="" />
    	<img src="@routes.Assets.at("images/col7.jpg")" alt="" />
    	<img src="@routes.Assets.at("images/col1.jpg")" alt="" />
    	<img src="@routes.Assets.at("images/col2.jpg")" alt="" />
    	<img src="@routes.Assets.at("images/col3.jpg")" alt="" />
      <img src="@routes.Assets.at("images/col4.jpg")" alt="" />
    </div>
  </div>

  <form id="searchbox" method="post" action="@routes.Application.viewSchoolSearch()">
    @helper.CSRF.formField
    <input list="schools" type="text" name="name" placeholder="Search for a School..."><br/>
      <datalist id="schools">
        @for(name <- school) {
          <option value="@name"> <a href="@routes.Application.viewSchool(name)"> @name </a> </option>
        }
      </datalist>
    <input id="go" type="submit" value="GO"/>
  </form>

  </p>
}
