@(heading: String)(script: Html)(content: Html)

<!DOCTYPE html>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>College Database</title>
    <meta name="description" content="A better way to make an informed college decision"/>
    <meta name="keywords" content="play, java, colleges"/>
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")" type="text/css" media="screen"/>
    @script
  </head>
  <body>

    <ul>
      <li id="nav"><a class="active" href="@routes.Application.index()">Home</a></li>
      <li id="nav"><a href="#search">Search</a></li>
      <li id="nav"><a href="#about">About</a></li>
    </ul>
    <h1>College Database</h1>
    <h2 id="heading">@heading</h2>
    <div id="content">@content</div>
    <hr/>
  </body>
</html>
